/*Style Sheet*/

body {
  margin: 0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  background: linear-gradient(130deg, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: 'Comic Neue', cursive;
}

ul, li {
  font-family: 'Comic Neue', cursive;
}

/*-----Header-----*/
header {
  color: #fff;
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: #333;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.brand {
  margin-top: 0;
}

.purpose{
  display: none;
}

nav {
  grid-column: 1/3;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  text-align: center;
  font: bold 1.2em 'Lato', sans-serif;
}

nav ul.is-active {
  display: block;
}

nav ul li{
padding: 15px 0;
border-top: 1px solid #fff;
}

#toggle {
  padding: 0;
  border: 0px;
  color: #fff;
  display: block;
  justify-self: end;
  align-items: center;
  background: transparent;
}

#toggle span {

}

.button-icon {
	padding: 10px 16px;
}

.bracket-effect a{
  color: #fff;
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
}

/* Bracket Effect */
.bracket-effect a:hover{
  color: #fff;
  display: block;
  text-decoration: none;
  background: linear-gradient(130deg, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bracket-effect a::before,
.bracket-effect a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.bracket-effect a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.bracket-effect a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.bracket-effect a:hover::before,
.bracket-effect a:hover::after,
.bracket-effect a:focus::before,
.bracket-effect a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  padding: 30px;
  box-sizing: border-box;
}

/*-----Photography-----*/
.imgGallery {
  width: 100%;
  margin: 0px auto;
  column-count: 1;
}

.imgContainer {
  margin-bottom: 10px;
}

.imgContainer img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.imgContainer img:hover {
  width: 100%;
  -webkit-filter: none;
  filter: none;
}

/*-----Other-----*/
.controls {
	height: 45px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #333;
}

.prev, .next {
  color: #fff;
	font-size: 22px;
	padding: 0 15px;
  text-decoration: none;
}
.prev {
	float: left;
}
.next {
	float:right;
}
.cycle-prev, .cycle-next {
	color: #03B8DC;
  position: absolute;
	transform: translate(0,-50%);
  top: 50%;
  padding: 10px;
  z-index: 800;
  cursor: pointer;
	background-color: rgba(0,0,0, .75);
}
.cycle-prev {
  left: 0;
}
.cycle-next {
  right: 0;
}

.otherGallery {

}

.otherGallery img{
  width: 100%;
  height: auto;
}

.tile {
	padding: 15px 15px;
	margin-bottom: 15px;
}

.img-container {
	text-align: center;
	margin-bottom: 15px;
}

.text-container .description {
	margin: 0 0 15px 0;
}

.tile p {
	margin: 0;
  font-size: 1em;
}

/*-----Media Queries-----*/
@media all and (min-width: 680px) {
  .purpose{
    display: block;
  }

  .imgGallery {
    column-count: 2;
  }
}
@media all and (min-width: 1025px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  nav {
    grid-column: 2/3;
    justify-self: end;
  }

  nav ul {
    display: inline-flex;
  }

  nav ul.is-active {
    display: inline-flex;
  }

  nav ul li {
    padding: 0;
    border-top: 0;
  }

  #toggle {
    display: none;
  }

  .imgGallery {
    column-count: 3;
  }

}
@media all and (min-width: 1800px) {
  .imgGallery {
    column-count: 4;
  }
}
