<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <script src="js/index.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.cycle2.min.js"></script>
    <script src="js/jquery.cycle2.video.min.js"></script>
  </head>

  <body>
    <!-- Navigation Area -->
    <header>
      <div class="headerContent">
        <!-- Logo -->
        <h1 class="brand">Kaleidoscopic Gallery</h1>
        <p class="purpose">This is everything from my amateur skills at photography, to my practice and exploration of Illustrator, to the "Doesn't fit in the box" type stuff.</p>
      </div>
      <!-- Hamburger icon -->
      <button id="toggle" aria-label="Toggle Menu" aria-expanded="false" aria-controls="menu" onClick="toggleMenu()">
        <span class="button-icon" aria-hidden>
          <svg viewBox="0 0 100 80" width="40" height="40" fill="currentcolor">
            <rect width="100" height="12" rx="8"></rect>
            <rect y="34" width="100" height="12" rx="8"></rect>
            <rect y="68" width="100" height="12" rx="8"></rect>
        </svg>
        </span>
      </button>
      <!-- Menu -->
      {% include navigation.html %}
    </header>

    <!-- Main content -->
  	<main>
      {{ content }}
  	</main>

  </body>

</html>
